
body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 500px;
    padding: 20px;
}

.col-sm {
    padding: 20px;
}

.media-1 {
    width: 50px;
}

h1 {
    text-align: center;
    padding: 20px;
}

.media-main {
    width: 200px;
    padding: 20px;
}

.myrole {
    padding: 100px;
}

img {
    width: 500px;
}

.jumbotron {
    background-color: #FF665A;
}

.display-4 {
    color: white;
}
.lead {
    color: white;
}

.jumbo-p {
    color: white;
}

.list-group {
    padding: 20px;
}

.accordion {
    padding: 20px;
    width: 500px;
}